body {
    margin: 0;
    font-family: Arial, sans-serif;

}
.landingpage {
    background-color: rgb(27, 35, 63);
    color: white;
    padding: 20px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
.menu a{
    color: white;
    margin-right: 8px;
    text-decoration: none;

}
.login-btn{
    color: white;
    background-color: rgb(7, 35, 88);
    padding: 10px 12px;
    border: none;
    cursor: pointer;

}
.register-btn{
    color: white;
    background-color: rgb(7, 35, 88);
    padding: 10px 12px;
    border: none;
    cursor: pointer;

}
.head{
    color: white;
    background-color: rgb(27, 35, 63);
    padding: 60px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: space-around;
  
}
.head-text{
    color: white;
    background-color: rgb(27, 35, 63);
    width: 70%;
    place-self: center;

}
.head-img{
    width: 500px;

}
.blue-btn{
    color: white;
    background-color: rgb(7, 35, 88);
    border: none;
    padding: 10px 12px;
    cursor: pointer;
}
.section{
    color: black;
    padding: 60px 50px;
    display: grid;
    grid-template-columns:1fr 1fr ;
    justify-items: space-around;
  
}
.text{
    color: black;
    width: 70%;
    place-self: center;

}
.section-img{
    width: 100%;
    
}
